/*Estilos de apariencia comunes*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: /*#f1f2f3*/
    #00324b;
    font-family: 'Segoe UI';
    margin: 2rem auto;
    width: 95%;
}

h1 {
    margin-bottom: 1rem;
    color: #ff9900;
    font-weight: 600;
}

h2 {
    color: #0789c9;
    font-weight: 400;
}

p {
    margin-bottom: 1rem;
}

img {
    width: 100%;
    margin: 1em 0;
}

a {
    color: #00324b;
}

main {
    background-color: #fff;
    padding: 3rem;
    margin: 3rem auto;
    max-width: 800px;
    display: block;
    /*para IE*/
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.boxes {
    display: grid;
    grid-auto-rows: minmax(125px, auto);
    grid-gap: .5rem;
}

@media screen and (min-width: 40em) {
    .boxes {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 2px;
    }
    body {
        font-size: 80%;
    }
}