.jumbotron {
    background-color: rgb(172, 187, 187);
    color: black;
    margin-top: 50px;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: teal;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-s {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-carrito {
    color: honeydew;
    background-color: grey;
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 5px;
}

.tab-content {
    padding-top: 5px;
}